.header {
  max-width: 880px;
  border-bottom: 2px solid rgba(84, 84, 84, .7);
  padding-bottom: 41px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 500px) {
  .header{
    padding-bottom: 31.6px;
    border-bottom: 1px;
  }  
}
